<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All - Snippet Organizer</title>
  </head>
  <body>
    <h1>All Snippets</h1>

    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
    <a href="/create">Create New Snippet</a>
    <a href="/showAll">See All The Snippets</a>

    {{#snippets}}
      <ul>
        <li>{{title}}</li>
        <li>{{notes}}</li>
        <li>{{body}}</li>
        <li>{{language}}</li>
        <li>{{tags}}</li>
      </ul>
    {{/snippets}}

  </body>
</html>
