<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup - Snippet Organizer</title>
  </head>
  <body>
    <h1>Sign Up for an Account</h1>

    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
    <a href="/create">Create New Snippet</a>
    <a href="/showAll">See All The Snippets</a>

    <form class="" action="/" method="post">
      <label for="name">Name</label>
      <input id="name" type="text" name="name" value="" autofocus>
      <label for="email">Email</label>
      <input id="email" type="text" name="email" value="">
      <label for="password">Password</label>
      <input id="password" type="text" name="password" value="">
      <input type="submit" name="createUser" value="signup">
    </form>

  </body>
</html>
